#language: c++
#dist: xenial
sudo: required


before_install:
# make sure we use the latest packages
- sudo add-apt-repository ppa:jonathonf/gcc -y
- sudo apt-get -qq update

# install/update the libraries needed for the project to compile properly
- sudo apt-get install -y build-essential software-properties-common
- sudo apt-get install -y gcc-7
- sudo apt-get install -y mingw-w64 libgmp-dev bison
- sudo apt-get install -y libmpfr-dev libmpc-dev
- sudo apt-get install -y byacc texinfo
- sudo apt-get install -y zip gzip tar


install: true


before_script:
# Go back to the root of the project and create a changelog
- cd $TRAVIS_BUILD_DIR
- touch "CHANGELOG.txt"
- git log --oneline --decorate > CHANGELOG.txt


script:
# build the project
- bash ./travis-build.sh


after_success:
# Upload build artifacts to azure blog storage
- npm install -g azure-cli
- 'if [[ $TRAVIS_BRANCH == "master" && $TRAVIS_PULL_REQUEST == "false" && $TRAVIS_TAG == "" ]];then
  azure telemetry --disable

  azure storage blob upload -q -a $AZURE_STORAGE_ACCOUNT -k $AZURE_STORAGE_ACCESS_KEY 
  $TRAVIS_BUILD_DIR/scripts/build/gcc-toolchain-mips64-linux64.tar.gz binaries "$TRAVIS_REPO_SLUG/gcc-toolchain-mips64-linux64.tar.gz";

  azure storage blob upload -q -a $AZURE_STORAGE_ACCOUNT -k $AZURE_STORAGE_ACCESS_KEY
  $TRAVIS_BUILD_DIR/scripts/build/gcc-toolchain-mips64-win64.zip binaries "$TRAVIS_REPO_SLUG/gcc-toolchain-mips64-win64.zip";
  fi'


before_deploy:
# Go back to the root of the project and setup the deploy file
  - cd $TRAVIS_BUILD_DIR
  - sed -e s%@TIMESTAMP@%"`ruby -e 'require "time"; print Time::parse(\`git log --format="%cd" -n 1\`.chomp).strftime("%Y-%m-%dT%H:%M:%SZ")'`"% .travis.bintray.json.in > .travis.bintray.json
#  #- cat .travis.bintray.json


deploy:
  provider: bintray
  user: $BINTRAY_USER
  key: $BINTRAY_API_KEY
  file: .travis.bintray.json
  skip_cleanup: true #required otherwise the git is stashed before deploy happens


notifications:
  email: false
